@import '../../styles/styles.scss';

.books-view {
  padding: 4rem 2rem;
  font-size: $fs-100;
}

.book {
  display: flex;
  background-color: $bg-white;
  box-shadow: $dark-box-shadow;
  border-radius: 5px;
  margin-bottom: 4rem;
}

.book-cover {
  width: 250px;
  aspect-ratio: 2 / 3;
  background-color: lighten($blue, 10%); // In case the cover does not appear.
  border-radius: 5px;
  flex-shrink: 0;
  height: auto;

  color: white;
  font-size: $fs-200;
}

th {
  text-align: left;
  width: 180px; // Not sure if hardcoding pixels here is a good idea.
  padding-left: 2rem;
}

td {
  padding-left: 30px;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: $bg-gray;
}

.book-details {
  width: 100%;
  padding: 4rem;
}

.delete-book-btn {
  align-self: flex-start;
  margin: 1rem;
  padding: 1.5rem;
}

.active-tab {
  padding: 1rem;
  text-align: center;
  font-size: $fs-300;
  color: $blue;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: $dark-box-shadow;
  background-color: $bg-white;
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  .delete-book-btn {
    align-self: center;
  }

  .book {
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
  }
}
