// Background colors
$bg-gray: #f8f8f8;
$bg-white: #ffffff;

// Text colors
$text-black: #010103;
$blue: #6c64fb;
$btn-black: #161616;
$text-gray: #706f7b;
$text-white: #ffffff;

// Other colors

$light-blue: #52bdfb;

// Box shadow

$dark-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);

// Misc

$border: 3px solid #e9e9e9;
